@import '~bootstrap/scss/bootstrap';
@import './_variables.scss';

li {
    list-style-type: none;

}

a {
    text-decoration: none;
}


img.my-cover {
    /*  max-height: 100%; */
    width: 100%;
    object-fit: cover;
    object-position: top;
    padding: 0.3rem;
}

img.my-cover-post {
    /* max-height: 100%; */
    width: 100%;
    object-fit: cover;
    object-position: top;
    padding: 0.3rem;
}

.my-container:hover .cover-all {
    display: none;
}

.my-container .description {
    display: none;
}

.my-container:hover .description {
    display: block;
}

section.description {
    div {
        height: 60%;
    }

    div {
        height: 40%;
    }
}