@import '~bootstrap/scss/bootstrap';
@import './_variables.scss';

li {
    list-style-type: none;

}

a {
    text-decoration: none;
}


img.my-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}